body {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - 2 * 0.75rem);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
}

.block {
    display: block;
}

.center {
    align-content: center;
}

.navbar {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.active {
    background-color: #04AA6D;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-link:hover {
    color: #111;
}

.char-display {
    font-size: 200;
}

.char-input {
    width: 100%;
}